<% if user_signed_in? %>
  <li>
  <%= link_to( t('devise.shared.links.edit'), edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to(t('devise.shared.links.sign_up'), new_user_registration_path)  %>
  </li>
<% end %>
